original/etc/dhcp/orange/832-6.conf.good
original/etc/radvd.d/eth1.832.fnoc
original/etc/sysctl.d/10-console-messages.conf
original/etc/sysctl.d/10-ipv6-privacy.conf
original/etc/sysctl.d/10-kernel-hardening.conf
original/etc/sysctl.d/10-link-restrictions.conf
original/etc/sysctl.d/10-magic-sysrq.conf
original/etc/sysctl.d/10-network-security.conf
original/etc/sysctl.d/10-ptrace.conf
original/etc/sysctl.d/10-zeropage.conf
original/etc/sysctl.d/30-nepomuk-inotify-limit.conf
original/etc/sysctl.d/30-postgresql-shm.conf
original/etc/sysctl.d/99-sysctl.conf
original/etc/sysctl.d/README
original/etc/sysctl.d/redis.conf
original/etc/sysctl.d/uhd-usrp2.conf

original/etc/radvd.d/radvd-interfaces
